# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.__pycache__
.pyc

# Virtual environment
.vscode/
.venv/
env/

# Temp
response.csv

# Logs
*.log

# Development
Test_folder/
Test_folder/files.json
Compiled
Compiled/


# Dependencies
Pipfile.lock